[submodule "assistant/keyboard/dataset_manager/Datasets"]
	path = assistant/keyboard/dataset_manager/Datasets
	url = https://github.com/brainbots/Datasets.git
	branch = master
[submodule "assistant/bots/index"]
	path = assistant/bots/index
	url = https://github.com/brainbots/bots.git
	branch = master
